{% extends 'base.html' %} {% block title %}Activate an access token{% endblock%}
{% block content %}
<div class="container mx-auto px-4 md:px-8 gap-8">
  <div class="grid grid-cols-12 gap-8">
    <!-- Sidebar chapda -->
    <aside class="col-span-12 md:col-span-4 space-y-6">
      {% include 'sumbit/permissions/sidebar.html' with active='activate_access_token' %}
    </aside>
    <!-- O'ng content -->
    <section class="col-span-12 md:col-span-8">
      <h1 class="text-[26px] font-bold mb-6">Activate an access token</h1>
      <p class="mb-5 text-[15px]">
        Access tokens give you unlimited access to journal content online for a
        period of time, and will help you determine if a subscription is for
        you.
      </p>
      <div class="mb-4 text-[15px]">
        <span class="font-bold">How to start your online access:</span>
        <ol class="list-decimal ml-6 mt-2 space-y-2">
          <li>
            <span class="font-bold text-[#00325f]">Create an account</span> or
            <a href="#" class="font-bold text-[#00325f] hover:underline"
              >log in to your account</a
            >
          </li>
          <li>
            If you are creating a new account, you will receive an automatic
            email after submitting your details – click on the link in the email
            to confirm your registration
          </li>
          <li>
            Once you are logged in,
            <span class="font-bold text-[#00325f]"
              >click on the Access Tokens tab</span
            >, enter your token code and click Submit
          </li>
          <li>
            Whenever you are logged in, you can read and download articles from
            the journal for free
          </li>
        </ol>
      </div>
      <p class="text-[15px] mt-6">
        Access tokens can only be used once per account. If your access token
        has expired but you would still like to read the journal,
        <a href="#" class="font-bold text-[#00325f] hover:underline"
          >recommend a subscription to your library</a
        >
        or
        <a href="#" class="font-bold text-[#00325f] hover:underline"
          >take out an individual subscription.</a
        >
      </p>
    </section>
  </div>
</div>
{% endblock %}
