{% extends 'base.html' %}{% load static %}{% block title %}Comparative Critical
Studies{% endblock %}{% block content %}
<div class="grid grid-cols-12 gap-8 px-4 md:px-8">
  <!-- Left Column -->
  <div class="col-span-12 md:col-span-8">
    <div
      class="flex flex-col md:flex-row md:space-x-6 md:space-y-0 items-start"
    >
      <!-- Journal Cover -->
      <img
        src="{% static 'assets/cover.jpg' %}"
        alt="Journal Cover"
        class="w-48 flex-shrink-0 shadow-md mx-auto md:mx-0"
      />

      <!-- Journal Description -->
      <div class="mt-6 md:mt-0 text-left text-gray-900">
        <p class="text-sm leading-relaxed">
          <span class="font-bold italic">Comparative Critical Studies</span> is
          the journal for comparative literature as a discipline. Articles focus
          on innovative perspectives on the theory and practice of the study of
          comparative literature in all its aspects, including but not limited
          to: theory and history of comparative literary studies; comparative
          studies of conventions, genres, themes and periods; reception studies;
          comparative gender studies; transmediality; diasporas and the
          migration of culture from a literary perspective; and the theory and
          practice of literary translation and cultural transfer.
        </p>
        <div class="mt-4 text-sm space-y-1">
          <p><span class="font-semibold">ISSN:</span> 1744-1854</p>
          <p><span class="font-semibold">eISSN:</span> 1750-0109</p>
          <p>3 issues per year: February, June & October</p>
          <p>
            Published on behalf of the
            <a href="#" class="text-sky-800 hover:underline font-semibold"
              >British Comparative Literature Association</a
            >
          </p>
        </div>
      </div>
    </div>

    <!-- Tabs -->
    <div class="mt-12">
      <div class="mb-4 border-b border-gray-200">
        <ul class="flex flex-wrap -mb-px text-center" id="myTab" role="tablist">
          <li class="me-2" role="presentation">
            <button
              class="inline-block p-4 border-b-[3px] rounded-t-lg"
              id="latest-tab"
              data-tabs-target="#latest"
              type="button"
              role="tab"
              aria-controls="latest"
              aria-selected="true"
            >
              Latest
            </button>
          </li>
          <li class="me-2" role="presentation">
            <button
              class="inline-block p-4 border-b-[3px] rounded-t-lg"
              id="most-read-tab"
              data-tabs-target="#most-read"
              type="button"
              role="tab"
              aria-controls="most-read"
              aria-selected="false"
            >
              Most read
            </button>
          </li>
          <li class="me-2" role="presentation">
            <button
              class="inline-block p-4 border-b-[3px] rounded-t-lg"
              id="most-cited-tab"
              data-tabs-target="#most-cited"
              type="button"
              role="tab"
              aria-controls="most-cited"
              aria-selected="false"
            >
              Most cited
            </button>
          </li>
        </ul>
      </div>
      <div id="myTabContent">
        <!-- Latest Content -->
        <div
          class="hidden py-4"
          id="latest"
          role="tabpanel"
          aria-labelledby="latest-tab"
        >
          <div class="space-y-8">
            <div>
              <p class="text-sm text-gray-500">
                Volume 22 | Issue 2 | June 2025
              </p>
              <h3 class="text-base font-[500] text-gray-800 mt-1">
                <a href="#" class="hover:underline">Front matter</a>
              </h3>
            </div>
            <div>
              <p class="text-sm text-gray-500">
                Volume 22 | Issue 2 | June 2025
              </p>
              <h3 class="text-base font-[500] text-gray-800 mt-1">
                <a href="#" class="hover:underline">Notes on Contributors</a>
              </h3>
            </div>
            <div>
              <p class="text-sm text-gray-500">
                Volume 22 | Issue 2 | June 2025
              </p>
              <h3 class="text-base font-[500] text-gray-800 mt-1">
                <a href="#" class="hover:underline">Editors’ Introduction</a>
              </h3>
              <p class="text-base text-gray-500 mt-2">
                Jacob Blakesley, Adhira Mangalagiri, Rosa Mucignat, and Elisa
                Segnini
              </p>
            </div>
            <div>
              <p class="text-sm text-gray-500">
                Volume 22 | Issue 2 | June 2025
              </p>
              <h3 class="text-base font-[500] text-gray-800 mt-1">
                <a href="#" class="hover:underline"
                  >Introduction: Spectres, Spectrums and Spectrality: New
                  Directions in Comparative Literature</a
                >
              </h3>
              <p class="text-base text-gray-500 mt-2">
                Laura Kennedy, Rachel Milne, Charlotte Spear, and Daisy Towers
              </p>
            </div>
            <div>
              <p class="text-sm text-gray-500">
                Volume 22 | Issue 2 | June 2025
              </p>
              <h3 class="text-base font-[500] text-gray-800 mt-1">
                <a href="#" class="hover:underline"
                  >‘Stop talking like an old lady’, Or The Spectral Ecologies of
                  Ageing and Illness in Un beau matin (2022)</a
                >
              </h3>
              <p class="text-base text-gray-500 mt-2">Rin Macritchie</p>
            </div>
            <div>
              <p class="text-sm text-gray-500">
                Volume 22 | Issue 2 | June 2025
              </p>
              <h3 class="text-base font-[500] text-gray-800 mt-1">
                <a href="#" class="hover:underline"
                  >Sister Outsiders of the Lesbian Bar: Spatial Hauntings in
                  Audre Lorde's Zami: A New Spelling of My Name</a
                >
              </h3>
              <p class="text-base text-gray-500 mt-2">Emma Wood</p>
            </div>
            <div>
              <p class="text-sm text-gray-500">
                Volume 22 | Issue 2 | June 2025
              </p>
              <h3 class="text-base font-[500] text-gray-800 mt-1">
                <a href="#" class="hover:underline"
                  >‘A becoming of winged creatures’: Unruly Bodies and Hidden
                  Transcripts in Zeyn Joukhadar’s The Thirty Names of Night</a
                >
              </h3>
              <p class="text-base text-gray-500 mt-2">Evie Lewis</p>
            </div>
            <div>
              <p class="text-sm text-gray-500">
                Volume 22 | Issue 2 | June 2025
              </p>
              <h3 class="text-base font-[500] text-gray-800 mt-1">
                <a href="#" class="hover:underline"
                  >The Victims of Defeat by Louise Michel and Marguerite
                  Tinayre</a
                >
              </h3>
              <p class="text-base text-gray-500 mt-2">Maria Teresa Marino</p>
            </div>
            <div>
              <p class="text-sm text-gray-500">
                Volume 22 | Issue 2 | June 2025
              </p>
              <h3 class="text-base font-[500] text-gray-800 mt-1">
                <a href="#" class="hover:underline"
                  >‘I am an old Buddhist soul’: An Interview with Gagan Gill</a
                >
              </h3>
              <p class="text-base text-gray-500 mt-2">Archit Nanda</p>
            </div>
            <div>
              <p class="text-sm text-gray-500">
                Volume 22 | Issue 2 | June 2025
              </p>
              <h3 class="text-base font-[500] text-gray-800 mt-1">
                <a href="#" class="hover:underline"
                  >Peter Zusi, The Integrity of the Avant-Garde: Karel Teige and
                  the Biography of an Ambition</a
                >
              </h3>
              <p class="text-base text-gray-500 mt-2">Václav Lucien Paris</p>
            </div>
          </div>
        </div>
        <!-- Most Read Content -->
        <div
          class="hidden py-4"
          id="most-read"
          role="tabpanel"
          aria-labelledby="most-read-tab"
        >
          <div class="space-y-8">
            <div>
              <p class="text-sm text-gray-500">
                Volume 9 | Issue 3 | October 2012
              </p>
              <h3 class="text-base font-[500] text-gray-800 mt-1">
                <a href="#" class="hover:underline"
                  >The Humanism in Posthumanism</a
                >
              </h3>
              <p class="text-base text-gray-500 mt-2">Kate Soper</p>
            </div>
            <div>
              <p class="text-sm text-gray-500">
                Volume 9 | Issue 3 | October 2012
              </p>
              <h3 class="text-base font-[500] text-gray-800 mt-1">
                <a href="#" class="hover:underline"
                  >Why Are We So Fond of Monsters?</a
                >
              </h3>
              <p class="text-base text-gray-500 mt-2">Dominique Lestel</p>
            </div>
            <div>
              <p class="text-sm text-gray-500">
                Volume 5 | Issue 2-3 | October 2008
              </p>
              <h3 class="text-base font-[500] text-gray-800 mt-1">
                <a href="#" class="hover:underline"
                  >Monstrous Conceptions: Sex, Madness and Gender in Medieval
                  Medical Texts</a
                >
              </h3>
              <p class="text-base text-gray-500 mt-2">LAURA JOSE</p>
            </div>
            <div>
              <p class="text-sm text-gray-500">
                Volume 9 | Issue 3 | October 2012
              </p>
              <h3 class="text-base font-[500] text-gray-800 mt-1">
                <a href="#" class="hover:underline"
                  >Hybridity, Monstrosity and the Posthuman in Philosophy and
                  Literature Today</a
                >
              </h3>
              <p class="text-base text-gray-500 mt-2">Lucile Desblache</p>
            </div>
            <div>
              <p class="text-sm text-gray-500">
                Volume 17 | Issue 1 | February 2020
              </p>
              <h3 class="text-base font-[500] text-gray-800 mt-1">
                <a href="#" class="hover:underline"
                  >The Bar under the Sea (Il bar sotto il mare) by Stefano
                  Benni, translated by Jessica Wood</a
                >
              </h3>
            </div>
            <div>
              <p class="text-sm text-gray-500">
                Volume 9 | Issue 3 | October 2012
              </p>
              <h3 class="text-base font-[500] text-gray-800 mt-1">
                <a href="#" class="hover:underline"
                  >Posthuman Encounters: Technology, Embodiment and Gender in
                  Recent Feminist Thought and in the Work of Marie
                  Darrieussecq</a
                >
              </h3>
              <p class="text-base text-gray-500 mt-2">Amaleena Damlé</p>
            </div>
            <div>
              <p class="text-sm text-gray-500">
                Volume 20 | Issue 1 | February 2023
              </p>
              <h3 class="text-base font-[500] text-gray-800 mt-1">
                <a href="#" class="hover:underline"
                  >Autosociobiography: A Travelling Form</a
                >
              </h3>
              <p class="text-base text-gray-500 mt-2">
                Marcus Twellmann and Philipp Lammers
              </p>
            </div>
            <div>
              <p class="text-sm text-gray-500">
                Volume 18 | Issue 1 | February 2021
              </p>
              <h3 class="text-base font-[500] text-gray-800 mt-1">
                <a href="#" class="hover:underline"
                  >Battle of the Mice and Frogs (Batrachomyomachia) by
                  Anonymous, translated from the Ancient Greek by Fintan
                  O'Higgins</a
                >
              </h3>
            </div>
            <div>
              <p class="text-sm text-gray-500">
                Volume 18 | Issue supplement | October 2021
              </p>
              <h3 class="text-base font-[500] text-gray-800 mt-1">
                <a href="#" class="hover:underline"
                  >Writing the Life of Natalie Clifford Barney's Salon: ‘le
                  cercle d'enchantement et d'inspiration’</a
                >
              </h3>
              <p class="text-base text-gray-500 mt-2">Emily Eells</p>
            </div>
            <div>
              <p class="text-sm text-gray-500">
                Volume 6 | Issue 2 | June 2009
              </p>
              <h3 class="text-base font-[500] text-gray-800 mt-1">
                <a href="#" class="hover:underline"
                  >Manfred Beller and Joep Leerssen (eds.), Imagology: The
                  Cultural Construction and Literary Representation of National
                  Characters – A Critical Survey. Series: Studia Imagologica,
                  vol. 13; series editors: Hugo Dyserinck and Joep Leerssen
                  (Amsterdam and New York: Rodopi, 2007). ISBN
                  978-90-420-2318-5, €45.</a
                >
              </h3>
              <p class="text-base text-gray-500 mt-2">Robert Weninger</p>
            </div>
          </div>
        </div>
        <!-- Most Cited Content -->
        <div
          class="hidden py-4"
          id="most-cited"
          role="tabpanel"
          aria-labelledby="most-cited-tab"
        >
          <div class="space-y-8">
            <div>
              <p class="text-sm text-gray-500">
                Volume 11 | Issue 2-3 | October 2014
              </p>
              <h3 class="text-base font-[500] text-gray-800 mt-1">
                <a href="#" class="hover:underline"
                  >Writing as a Nomadic Subject</a
                >
              </h3>
              <p class="text-base text-gray-500 mt-2">Rosi Braidotti</p>
            </div>
            <div>
              <p class="text-sm text-gray-500">
                Volume 20 | Issue 1 | February 2023
              </p>
              <h3 class="text-base font-[500] text-gray-800 mt-1">
                <a href="#" class="hover:underline"
                  >Autosociobiography: A Travelling Form</a
                >
              </h3>
              <p class="text-base text-gray-500 mt-2">
                Marcus Twellmann and Philipp Lammers
              </p>
            </div>
            <div>
              <p class="text-sm text-gray-500">
                Volume 9 | Issue 3 | October 2012
              </p>
              <h3 class="text-base font-[500] text-gray-800 mt-1">
                <a href="#" class="hover:underline"
                  >The Humanism in Posthumanism</a
                >
              </h3>
              <p class="text-base text-gray-500 mt-2">Kate Soper</p>
            </div>
            <div>
              <p class="text-sm text-gray-500">
                Volume 18 | Issue 1 | February 2021
              </p>
              <h3 class="text-base font-[500] text-gray-800 mt-1">
                <a href="#" class="hover:underline"
                  >Cross-Cultural Encounters: A Feminist Perspective on the
                  Contemporary Reception of Jane Austen in China</a
                >
              </h3>
              <p class="text-base text-gray-500 mt-2">Shuo Sun</p>
            </div>
            <div>
              <p class="text-sm text-gray-500">
                Volume 2 | Issue 3 | October 2005
              </p>
              <h3 class="text-base font-[500] text-gray-800 mt-1">
                <a href="#" class="hover:underline"
                  >The Beast in Literature: Some Initial Thoughts</a
                >
              </h3>
              <p class="text-base text-gray-500 mt-2">Kate Soper</p>
            </div>
            <div>
              <p class="text-sm text-gray-500">
                Volume 8 | Issue 2-3 | October 2011
              </p>
              <h3 class="text-base font-[500] text-gray-800 mt-1">
                <a href="#" class="hover:underline"
                  >Michel Foucault, Pierre Rivière and the Archival Imaginary</a
                >
              </h3>
              <p class="text-base text-gray-500 mt-2">Michael Sheringham</p>
            </div>
            <div>
              <p class="text-sm text-gray-500">
                Volume 8 | Issue 2-3 | October 2011
              </p>
              <h3 class="text-base font-[500] text-gray-800 mt-1">
                <a href="#" class="hover:underline"
                  >Whose Museum? Whose History? Whose Memories? Remembering in
                  the Work of Dubravka Ugrešić</a
                >
              </h3>
              <p class="text-base text-gray-500 mt-2">Stijn Vervaet</p>
            </div>
            <div>
              <p class="text-sm text-gray-500">
                Volume 8 | Issue 2-3 | October 2011
              </p>
              <h3 class="text-base font-[500] text-gray-800 mt-1">
                <a href="#" class="hover:underline">After the Archive</a>
              </h3>
              <p class="text-base text-gray-500 mt-2">Carolyn Steedman</p>
            </div>
            <div>
              <p class="text-sm text-gray-500">
                Volume 11 | Issue 2-3 | October 2014
              </p>
              <h3 class="text-base font-[500] text-gray-800 mt-1">
                <a href="#" class="hover:underline"
                  >From Roots to Routes … to Borders: Trans-Coastal Narratives
                  across the Mediterranean</a
                >
              </h3>
              <p class="text-base text-gray-500 mt-2">Mariangela Palladino</p>
            </div>
            <div>
              <p class="text-sm text-gray-500">
                Volume 12 | Issue 2 | June 2015
              </p>
              <h3 class="text-base font-[500] text-gray-800 mt-1">
                <a href="#" class="hover:underline"
                  >Max Müller and the Comparative Method</a
                >
              </h3>
              <p class="text-base text-gray-500 mt-2">Angus Nicholls</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Right Column (Sidebar) -->
  <aside class="col-span-12 md:col-span-4 space-y-6">
    {% include "components/sidebar_alerts.html" %} 
    {% include "components/sidebar_publisher.html" %} 
    {% include "components/sidebar_free_content.html" %} 
    {% include "components/sidebar_mailing_list.html" %} 
    {% include "components/sidebar_news.html" %}
  </aside>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const tabButtons = document.querySelectorAll("[data-tabs-target]");
    const tabContents = document.querySelectorAll('[role="tabpanel"]');

    function updateTabs(targetId) {
      tabButtons.forEach((button) => {
        const isSelected = button.getAttribute("data-tabs-target") === targetId;
        button.setAttribute("aria-selected", isSelected);

        // Reset classes
        button.classList.remove(
          "text-[#c51152]",
          "border-[#c51152]",
          "font-bold",
          "text-gray-500",
          "font-medium",
          "border-transparent"
        );

        if (isSelected) {
          button.classList.add(
            "text-[#c51152]",
            "border-[#c51152]",
            "font-bold"
          );
        } else {
          button.classList.add(
            "text-gray-500",
            "font-medium",
            "border-transparent"
          );
        }
      });

      tabContents.forEach((content) => {
        if (content.id === targetId.substring(1)) {
          content.classList.remove("hidden");
        } else {
          content.classList.add("hidden");
        }
      });
    }

    tabButtons.forEach((button) => {
      // Set text size for all tabs
      button.classList.add("text-base");

      button.addEventListener("click", () => {
        const targetId = button.getAttribute("data-tabs-target");
        updateTabs(targetId);
      });
    });

    // Initial state
    updateTabs("#latest");
  });
</script>
{% endblock %}
