<!-- Explore free content -->
<div class="bg-white p-4 md:p-5 shadow-lg rounded-sm">
  <h3 class="text-lg font-medium text-[#00325f] mb-4">Explore free content</h3>
  <div class="space-y-4">
    <div class="pb-4 border-b">
      <h4 class="font-semibold text-gray-800">Sample issue</h4>
      <p class="text-sm text-gray-600 mt-1">
        Comparative Critical Studies Volume 20, Issue 1
      </p>
    </div>
    <div>
      <h4 class="font-semibold text-gray-800">Featured article</h4>
      <p class="text-xs text-gray-500 mt-1">Volume 22 | Issue 2 | June 2025</p>
      <p class="text-sm text-gray-600 mt-1">
        'I am an old Buddhist soul': An Interview with Gagan Gill
      </p>
      <p class="text-sm text-gray-500 mt-1">Archit Nanda</p>
    </div>
  </div>
</div>
